@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  min-width: 250px;
  padding: 1rem 2rem;
  /* background-color: #f5f5f5; */
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-wrap: nowrap; /* compresses contents when resized */
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: "#3D3D3D";
  font-size: 14px;
  font-family: "Lexend", sans-serif;
}
#logo {
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#welcome{
  font-weight: bold;
  text-align: center;
  font-size:  24px;
}

.row {
  align-items: center; /*vertical alignment */
  text-align: center; /*Horizontal alignment*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  /* background-color: rgb(242, 242, 242); */
}

/* Horizontal line */
hr.solid { 
  border-top: 1px solid grey;
  width: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px; /*60px*/
  height: 28px; /*34px*/
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d3d3d3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffa633;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffa633;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

#cache {
  background-color: #ffa633; /* Green */
  border: none;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  /* border-radius: 10%; */
  border-radius: 42px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#stats {
  background-color: #ffa633; /* Green */
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  /* border-radius: 10%; */
  border-radius: 42px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.boldtext {
  font-weight: bold;  
}
/* creating button groups */
/* .Button{
  background-color: #ffa633;
  border-color: #ffa633;
  font-size: 14px;
  box-shadow: none;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
}

.Button button:hover {
  background-color: #d3d3d3;
} */

.btn-group button {
  background-color: #ffa633; /* Green background */
  border: 1px solid #ffa633;
  /* border-radius: 42px; */
  color: rgb(242, 242, 242); /* White text */
  padding: 8px 21px;
  align-items: center;
  text-size-adjust: 14px;
  cursor: pointer; /*Pointer/hand icon */
  float: left;  /*the buttons side by side*/
  font-size: 14px;
  font-family: "Lexend", sans-serif;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #d3d3d3;
}

